.navbar-collapse {
  flex-grow: 0;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--text-color);
  display: inline;
  list-style: none;
  line-height: 40px;
  font-size: 18px;
  margin-left: 30px;
  font-weight: bold;
}
nav a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 200ms ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}
.bg-light {
  background-color: var(--branding-color) !important;
}
.navbar {
  padding: 20px 0;
}
nav h3 {
  margin: 0;
  line-height: 40px;
}
nav h3 a:hover {
  font-family: "Zilla Slab Highlight", cursive;
  color: var(--text-color);
}
